:root {
/* Color scheme: http://paletton.com/#uid=23u0u0kfBZg1j+Z9w+mkGXdppSu */
    --base-color: #87CFFA;
    --light: #B6E3FD;
    --lighter: #F5FBFF;
    --dark: #3AA6E6;
    --darker: #067CC3;
    --darkest: #43677d;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--lighter);
}

header {
    background-color: var(--light);
    border: 10px solid var(--darkest);
    border-radius: 30px 0px 30px 0px;
    padding: 10px;
    color: var(--darkest);
    display: flex;
    justify-content: space-between;
}

nav {
    background-color: var(--dark);
    padding: 5px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

nav ul {
    list-style-type: none;
    padding: 0px;
}

nav ul li {
    display: inline-block;
    margin: 0 15px 0 15px;
}

a:link, a:visited {
    color: var(--lighter);
    text-decoration: none;
}

article {
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
}

.section-header {
    width: 33%;
    text-align: right;
    border-right: 5px solid black;
    padding-right: 10px;
}

.section-contents {
    width: 67%;
    padding: 10px;
    margin-left: 10px;
    background-color: var(--dark);
}